In [12]:
from __future__ import division
import pandas
import numpy as np
import re
import operator
import matplotlib.pyplot as plt	
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn import model_selection
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.ensemble import GradientBoostingClassifier

# A function to get the title from a name.
def get_title(name):
    # Use a regular expression to search for a title.  Titles always consist of capital and lowercase letters, and end with a period.
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""



# read the titanic data set 
data = pandas.read_csv("train.csv")

median_age = titanic["Age"].median()
data["Age"] = data["Age"].fillna(median_age)

# assign all males to 0
data.loc[data["Sex"]=="male","Sex"]=0
# assign all females to 1
data.loc[data["Sex"]=="female","Sex"]=1

data["Embarked"]=data["Embarked"].fillna("S")
data.loc[data["Embarked"]=="S","Embarked"] = 0
data.loc[data["Embarked"]=="C","Embarked"] = 1
data.loc[data["Embarked"]=="Q","Embarked"] = 2



data["FamilySize"] = data["SibSp"] + data["Parch"]

data["NameLength"] = data["Name"].apply(lambda x : len(x))

# Get all the titles and print how often each one occurs.
titles = titanic["Name"].apply(get_title)
print(pandas.value_counts(titles))

# Map each title to an integer.  Some titles are very rare, and are compressed into the same codes as other titles.
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2}
for k,v in title_mapping.items():
    titles[titles == k] = v

# Verify that we converted everything.
print(pandas.value_counts(titles))

# Add in the title column.
data["Title"] = titles

# A dictionary mapping family name to id
family_id_mapping = {}

# A function to get the id given a row
def get_family_id(row):
    # Find the last name by splitting on a comma
    last_name = row["Name"].split(",")[0]
    # Create the family id
    family_id = "{0}{1}".format(last_name, row["FamilySize"])
    # Look up the id in the mapping
    if family_id not in family_id_mapping:
        if len(family_id_mapping) == 0:
            current_id = 1
        else:
            # Get the maximum id from the mapping and add one to it if we don't have an id
            current_id = (max(family_id_mapping.items(), key=operator.itemgetter(1))[1] + 1)
        family_id_mapping[family_id] = current_id
    return family_id_mapping[family_id]

# Get the family ids with the apply method
family_ids = data.apply(get_family_id, axis=1)

# There are a lot of family ids, so we'll compress all of the families under 3 members into one code.
family_ids[titanic["FamilySize"] < 3] = -1

# Print the count of each unique id.
print(pandas.value_counts(family_ids))

data["FamilyId"] = family_ids

predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "FamilySize", "Title", "FamilyId", "NameLength"]

# Perform feature selection
selector = SelectKBest(f_classif, k=5)
selector.fit(titanic[predictors], data["Survived"])

# Get the raw p-values for each feature, and transform from p-values into scores
scores = -np.log10(selector.pvalues_)

# Plot the scores.  See how "Pclass", "Sex", "Title", and "Fare" are the best?
#plt.bar(range(len(predictors)), scores)
#plt.xticks(range(len(predictors)), predictors, rotation='vertical')
#plt.show()

# Pick only the four best features.
predictors = ["Pclass", "Sex", "Fare", "Title"]

alg = RandomForestClassifier(random_state=1, n_estimators=50, min_samples_split=8, min_samples_leaf=4)
kf=KFold(n_splits=3,random_state=1)
scores = model_selection.cross_val_score(alg, data[predictors], data["Survived"], cv=kf)
print(scores.mean())

# Ensemble

# The algorithms we want to ensemble.
# We're using the more linear predictors for the logistic regression, and everything with the gradient boosting classifier.
algorithms = [
    [GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title", "FamilyId"]],
    [LogisticRegression(random_state=1), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]
]

# Initialize the cross validation folds
kf = KFold( n_splits=3, random_state=1)

predictions = []
for train, test in kf.split(data):
    train_target = titanic["Survived"].iloc[train]
    full_test_predictions = []
    # Make predictions for each algorithm on each fold
    for alg, predictors in algorithms:
        # Fit the algorithm on the training data.
        alg.fit(data[predictors].iloc[train,:], train_target)
        # Select and predict on the test fold.  
        # The .astype(float) is necessary to convert the dataframe to all floats and avoid an sklearn error.
        test_predictions = alg.predict_proba(data[predictors].iloc[test,:].astype(float))[:,1]
        full_test_predictions.append(test_predictions)
    # Use a simple ensembling scheme -- just average the predictions to get the final classification.
    test_predictions = (full_test_predictions[0] + full_test_predictions[1]) / 2
    # Any value over .5 is assumed to be a 1 prediction, and below .5 is a 0 prediction.
    test_predictions[test_predictions <= .5] = 0
    test_predictions[test_predictions > .5] = 1
    predictions.append(test_predictions)

# Put all the predictions together into one array.
predictions = np.concatenate(predictions, axis=0)

# Compute accuracy by comparing to the training data.
accuracy = sum(predictions[predictions == data["Survived"]]) / len(predictions)
print(accuracy)

## TEST data

titanic_test = pandas.read_csv("test.csv")

# fix AGE
titanic_test["Age"] = titanic_test["Age"].fillna(titanic["Age"].median())

# fix SEX
titanic_test.loc[titanic_test["Sex"]=="male","Sex"]=0
titanic_test.loc[titanic_test["Sex"]=="female","Sex"]=1

# fix Embarked
titanic_test["Embarked"] = titanic_test["Embarked"].fillna("S")
titanic_test.loc[titanic_test["Embarked"]=="S","Embarked"]=0
titanic_test.loc[titanic_test["Embarked"]=="C","Embarked"]=1
titanic_test.loc[titanic_test["Embarked"]=="Q","Embarked"]=2

#fix Fare
titanic_test["Fare"] = titanic_test["Fare"].fillna(titanic_test["Fare"].median())

# First, we'll add titles to the test set.
titles = titanic_test["Name"].apply(get_title)
# We're adding the Dona title to the mapping, because it's in the test set, but not the training set
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 8, "Mme": 8, "Don": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2, "Dona": 10}
for k,v in title_mapping.items():
    titles[titles == k] = v
titanic_test["Title"] = titles
# Check the counts of each unique title.
print(pandas.value_counts(titanic_test["Title"]))

# Now, we add the family size column.
titanic_test["FamilySize"] = titanic_test["SibSp"] + titanic_test["Parch"]

# Now we can add family ids.
# We'll use the same ids that we did earlier.
print(family_id_mapping)

family_ids = titanic_test.apply(get_family_id, axis=1)
family_ids[titanic_test["FamilySize"] < 3] = -1
titanic_test["FamilyId"] = family_ids

titanic_test["NameLength"]=titanic_test["Name"].apply(lambda x:len(x))
titanic_test["FamilySize"]=titanic_test["SibSp"]+titanic_test["Parch"]

predictors = ["Pclass", "Sex", "Age", "Fare", "Embarked", "FamilySize", "Title", "FamilyId"]

algorithms = [
    [GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3), predictors],
    [LogisticRegression(random_state=1), ["Pclass", "Sex", "Fare", "FamilySize", "Title", "Age", "Embarked"]]
]

print(titanic_test)

full_predictions = []
for alg, predictors in algorithms:
    # Fit the algorithm using the full training data.
    alg.fit(titanic[predictors], titanic["Survived"])
    # Predict using the test dataset.  We have to convert all the columns to floats to avoid an error.
    predictions = alg.predict_proba(titanic_test[predictors].astype(float))[:,1]
    full_predictions.append(predictions)

# The gradient boosting classifier generates better predictions, so we weight it higher.
predictions = (full_predictions[0] * 3 + full_predictions[1]) / 4
predictions[predictions <=.5] =0
predictions[predictions>.5]=1

predictions=predictions.astype(int)
# Create a new dataframe with only the columns Kaggle wants from the dataset.
submission = pandas.DataFrame({
        "PassengerId": titanic_test["PassengerId"],
        "Survived": predictions
    })

submission.to_csv("kaggle.csv", index=False)

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Major         2
Mlle          2
Mme           1
Don           1
Sir           1
Lady          1
Jonkheer      1
Capt          1
Ms            1
Countess      1
Name: Name, dtype: int64
1     517
2     183
3     125
4      40
5       7
6       6
7       5
10      3
8       3
9       2
Name: Name, dtype: int64
-1      800
 14       8
 149      7
 63       6
 50       6
 59       6
 17       5
 384      4
 27       4
 25       4
 162      4
 8        4
 84       4
 340      4
 43       3
 269      3
 58       3
 633      2
 167      2
 280      2
 510      2
 90       2
 83       1
 625      1
 376      1
 449      1
 498      1
 588      1
dtype: int64
0.819304152637486
0.2783389450056117
1     240
2      79
3      72
4      21
7       2
6       2
10      1
5       1
Name: Title, dtype: int64
{'Braund1': 1, 'Cumings1': 2, 'Heikkinen0': 3, 'Futrelle1': 4, 'Allen0': 5, 'Moran0': 6, 'McCarthy0': 7, 'Palsson4': 8, 'Johnson2': 9, 'Nasser1': 10, 'Sandstrom2': 11, 'Bonnell0': 12, 'Saundercock0': 13, 'Andersson6': 14, 'Vestrom0': 15, 'Hewlett0': 16, 'Rice5': 17, 'Williams0': 18, 'Vander Planke1': 19, 'Masselmani0': 20, 'Fynney0': 21, 'Beesley0': 22, 'McGowan0': 23, 'Sloper0': 24, 'Asplund6': 25, 'Emir0': 26, 'Fortune5': 27, "O'Dwyer0": 28, 'Todoroff0': 29, 'Uruchurtu0': 30, 'Spencer1': 31, 'Glynn0': 32, 'Wheadon0': 33, 'Meyer1': 34, 'Holverson1': 35, 'Mamee0': 36, 'Cann0': 37, 'Vander Planke2': 38, 'Nicola-Yarred1': 39, 'Ahlin1': 40, 'Turpin1': 41, 'Kraeff0': 42, 'Laroche3': 43, 'Devaney0': 44, 'Rogers0': 45, 'Lennon1': 46, "O'Driscoll0": 47, 'Samaan2': 48, 'Arnold-Franchi1': 49, 'Panula5': 50, 'Nosworthy0': 51, 'Harper1': 52, 'Faunthorpe1': 53, 'Ostby1': 54, 'Woolner0': 55, 'Rugg0': 56, 'Novel0': 57, 'West3': 58, 'Goodwin7': 59, 'Sirayanian0': 60, 'Icard0': 61, 'Harris1': 62, 'Skoog5': 63, 'Stewart0': 64, 'Moubarek2': 65, 'Nye0': 66, 'Crease0': 67, 'Kink2': 68, 'Jenkin0': 69, 'Hood0': 70, 'Chronopoulos1': 71, 'Bing0': 72, 'Moen0': 73, 'Staneff0': 74, 'Moutal0': 75, 'Caldwell2': 76, 'Dowdell0': 77, 'Waelens0': 78, 'Sheerlinck0': 79, 'McDermott0': 80, 'Carrau0': 81, 'Ilett0': 82, 'Backstrom3': 83, 'Ford4': 84, 'Slocovski0': 85, 'Celotti0': 86, 'Christmann0': 87, 'Andreasson0': 88, 'Chaffee1': 89, 'Dean3': 90, 'Coxon0': 91, 'Shorney0': 92, 'Goldschmidt0': 93, 'Greenfield1': 94, 'Doling1': 95, 'Kantor1': 96, 'Petranec0': 97, 'Petroff0': 98, 'White1': 99, 'Johansson0': 100, 'Gustafsson2': 101, 'Mionoff0': 102, 'Salkjelsvik0': 103, 'Moss0': 104, 'Rekic0': 105, 'Moran1': 106, 'Porter0': 107, 'Zabour1': 108, 'Barton0': 109, 'Jussila1': 110, 'Attalah0': 111, 'Pekoniemi0': 112, 'Connors0': 113, 'Baxter1': 114, 'Hickman2': 115, 'Moore0': 116, 'Webber0': 117, 'McMahon0': 118, 'Madsen0': 119, 'Peter2': 120, 'Ekstrom0': 121, 'Drazenoic0': 122, 'Coelho0': 123, 'Robins1': 124, 'Weisz1': 125, 'Sobey0': 126, 'Richard0': 127, 'Newsom2': 128, 'Osen0': 129, 'Giglio0': 130, 'Boulos2': 131, 'Nysten0': 132, 'Hakkarainen1': 133, 'Burke0': 134, 'Andrew0': 135, 'Nicholls2': 136, 'Andersson0': 137, 'Navratil2': 138, 'Byles0': 139, 'Bateman0': 140, 'Pears1': 141, 'Meo0': 142, 'van Billiard2': 143, 'Olsen0': 144, 'Williams1': 145, 'Gilnagh0': 146, 'Corn0': 147, 'Smiljanic0': 148, 'Sage10': 149, 'Cribb1': 150, 'Watt0': 151, 'Bengtsson0': 152, 'Calic0': 153, 'Goldsmith2': 154, 'Chibnall1': 155, 'Baumann0': 156, 'Ling0': 157, 'Van der hoef0': 158, 'Sivola0': 159, 'Smith0': 160, 'Klasen2': 161, 'Lefebre4': 162, 'Isham0': 163, 'Hale0': 164, 'Leonard0': 165, 'Pernot0': 166, 'Becker3': 167, 'Kink-Heilmann2': 168, 'Rood0': 169, "O'Brien1": 170, 'Romaine0': 171, 'Bourke2': 172, 'Turcin0': 173, 'Pinsky0': 174, 'Carbines0': 175, 'Andersen-Jensen1': 176, 'Brown0': 177, 'Lurette0': 178, 'Mernagh0': 179, 'Olsen1': 180, 'Madigan0': 181, 'Yrois0': 182, 'Vande Walle0': 183, 'Johanson0': 184, 'Youseff0': 185, 'Cohen0': 186, 'Strom1': 187, 'Backstrom1': 188, 'Albimona0': 189, 'Carr0': 190, 'Blank0': 191, 'Ali0': 192, 'Cameron0': 193, 'Perkin0': 194, 'Givard0': 195, 'Kiernan1': 196, 'Newell1': 197, 'Honkanen0': 198, 'Jacobsohn1': 199, 'Bazzani0': 200, 'Harris0': 201, 'Sunderland0': 202, 'Bracken0': 203, 'Green0': 204, 'Nenkoff0': 205, 'Hoyt1': 206, 'Berglund0': 207, 'Mellors0': 208, 'Lovell0': 209, 'Fahlstrom0': 210, 'Larsson0': 211, 'Sjostedt0': 212, 'Leyson0': 213, 'Harknett0': 214, 'Hold1': 215, 'Collyer2': 216, 'Pengelly0': 217, 'Hunt0': 218, 'Murphy1': 219, 'Coleridge0': 220, 'Maenpaa0': 221, 'Minahan2': 222, 'Lindahl0': 223, 'Hamalainen2': 224, 'Beckwith2': 225, 'Carter1': 226, 'Reed0': 227, 'Strom2': 228, 'Stead0': 229, 'Lobb1': 230, 'Rosblom2': 231, 'Touma2': 232, 'Thorne0': 233, 'Cherry0': 234, 'Ward0': 235, 'Parrish1': 236, 'Taussig2': 237, 'Harrison0': 238, 'Henry0': 239, 'Reeves0': 240, 'Persson1': 241, 'Graham1': 242, 'Bissette0': 243, 'Cairns0': 244, 'Tornquist0': 245, 'Mellinger1': 246, 'Natsch1': 247, 'Healy0': 248, 'Andrews1': 249, 'Lindblom0': 250, 'Parkes0': 251, 'Abbott2': 252, 'Duane0': 253, 'Olsson0': 254, 'de Pelsmaeker0': 255, 'Dorking0': 256, 'Stankovic0': 257, 'de Mulder0': 258, 'Naidenoff0': 259, 'Hosono0': 260, 'Connolly0': 261, 'Barber0': 262, 'Bishop1': 263, 'Levy0': 264, 'Haas0': 265, 'Mineff0': 266, 'Lewy0': 267, 'Hanna0': 268, 'Allison3': 269, 'Saalfeld0': 270, 'Kelly0': 271, 'McCoy2': 272, 'Johnson0': 273, 'Keane0': 274, 'Fleming0': 275, 'Penasco y Castellana1': 276, 'Abelson1': 277, 'Francatelli0': 278, 'Hays0': 279, 'Ryerson4': 280, 'Lahtinen2': 281, 'Hendekovic0': 282, 'Hart2': 283, 'Nilsson0': 284, 'Moraweck0': 285, 'Wick2': 286, 'Spedden2': 287, 'Dennis0': 288, 'Danoff0': 289, 'Slayter0': 290, 'Young0': 291, 'Nysveen0': 292, 'Ball0': 293, 'Hippach1': 294, 'Partner0': 295, 'Frauenthal1': 296, 'Denkoff0': 297, 'Burns0': 298, 'Dahl0': 299, 'Blackwell0': 300, 'Collander0': 301, 'Sedgwick0': 302, 'Fox0': 303, 'Davison1': 304, 'Coutts2': 305, 'Dimic0': 306, 'Odahl0': 307, 'Williams-Lambert0': 308, 'Elias2': 309, 'Yousif0': 310, 'Vanden Steen0': 311, 'Bowerman1': 312, 'Funk0': 313, 'McGovern0': 314, 'Mockler0': 315, 'del Carlo1': 316, 'Barbara1': 317, 'Asim0': 318, 'Adahl0': 319, 'Warren1': 320, 'Moussa0': 321, 'Jermyn0': 322, 'Aubart0': 323, 'Harder1': 324, 'Wiklund1': 325, 'Beavan0': 326, 'Ringhini0': 327, 'Landergren0': 328, 'Widener2': 329, 'Betros0': 330, 'Gustafsson0': 331, 'Bidois0': 332, 'Nakid2': 333, 'Tikkanen0': 334, 'Plotcharsky0': 335, 'Davies0': 336, 'Buss0': 337, 'Sadlier0': 338, 'Lehmann0': 339, 'Carter3': 340, 'Jansson0': 341, 'McKane0': 342, 'Pain0': 343, 'Trout0': 344, 'Niskanen0': 345, 'Adams0': 346, 'Oreskovic0': 347, 'Gale1': 348, 'Widegren0': 349, 'Richards2': 350, 'Birkeland0': 351, 'Sdycoff0': 352, 'Hart0': 353, 'Minahan1': 354, 'Cunningham0': 355, 'Sundman0': 356, 'Meek0': 357, 'Drew2': 358, 'Silven2': 359, 'Matthews0': 360, 'Van Impe2': 361, 'Gheorgheff0': 362, 'Charters0': 363, 'Zimmerman0': 364, 'Danbom2': 365, 'Wiseman0': 366, 'Clarke1': 367, 'Phillips0': 368, 'Flynn0': 369, 'Pickard0': 370, 'Bjornstrom-Steffansson0': 371, 'Thorneycroft1': 372, 'Louch1': 373, 'Kallio0': 374, 'Silvey1': 375, 'Richards5': 376, 'Kvillner0': 377, 'Hampe0': 378, 'Petterson1': 379, 'Reynaldo0': 380, 'Johannesen-Bratthammer0': 381, 'Dodge2': 382, 'Seward0': 383, 'Baclini3': 384, 'Peuchen0': 385, 'Hagland1': 386, 'Foreman0': 387, 'Goldenberg1': 388, 'Peduzzi0': 389, 'Jalsevac0': 390, 'Millet0': 391, 'Kenyon1': 392, 'Toomey0': 393, "O'Connor0": 394, 'Anderson0': 395, 'Morley0': 396, 'Gee0': 397, 'Milling0': 398, 'Maisner0': 399, 'Goncalves0': 400, 'Campbell0': 401, 'Smart0': 402, 'Scanlan0': 403, 'Keefe0': 404, 'Cacic0': 405, 'Jerwan0': 406, 'Strandberg0': 407, 'Clifford0': 408, 'Renouf1': 409, 'Karlsson0': 410, 'Hirvonen1': 411, 'Frost0': 412, 'Rouse0': 413, 'Turkula0': 414, 'Kent0': 415, 'Somerton0': 416, 'Windelov0': 417, 'Molson0': 418, 'Artagaveytia0': 419, 'Stanley0': 420, 'Yousseff0': 421, 'Eustis1': 422, 'Shellard0': 423, 'Svensson0': 424, 'Canavan0': 425, "O'Sullivan0": 426, 'Laitinen0': 427, 'Maioni0': 428, 'Quick2': 429, 'Bradley0': 430, 'Lang0': 431, 'Daly0': 432, 'McGough0': 433, 'Rothschild1': 434, 'Coleff0': 435, 'Walker0': 436, 'Lemore0': 437, 'Ryan0': 438, 'Angle1': 439, 'Pavlovic0': 440, 'Perreault0': 441, 'Vovk0': 442, 'Lahoud0': 443, 'Kassem0': 444, 'Farrell0': 445, 'Ridsdale0': 446, 'Farthing0': 447, 'Salonen0': 448, 'Hocking3': 449, 'Toufik0': 450, 'Butt0': 451, 'LeRoy0': 452, 'Risien0': 453, 'Frolicher2': 454, 'Crosby2': 455, 'Beane1': 456, 'Douglas1': 457, 'Nicholson0': 458, 'Padro y Manent0': 459, 'Davies2': 460, 'Thayer2': 461, 'Sharp0': 462, "O'Brien0": 463, 'Leeni0': 464, 'Ohman0': 465, 'Wright0': 466, 'Duff Gordon1': 467, 'Robbins0': 468, 'de Messemaeker1': 469, 'Morrow0': 470, 'Sivic0': 471, 'Norman0': 472, 'Simmons0': 473, 'Meanwell0': 474, 'Stoytcheff0': 475, 'Doharr0': 476, 'Jonsson0': 477, 'Appleton2': 478, 'Rush0': 479, 'Patchett0': 480, 'Garside0': 481, 'Caram1': 482, 'Jussila0': 483, 'Christy2': 484, 'Downton0': 485, 'Ross0': 486, 'Paulner0': 487, 'Jarvis0': 488, 'Frolicher-Stehli2': 489, 'Gilinski0': 490, 'Murdlin0': 491, 'Rintamaki0': 492, 'Stephenson1': 493, 'Elsbury0': 494, 'Chapman1': 495, 'Leitch0': 496, 'Boulos0': 497, 'Jacobsohn3': 498, 'Slabenoff0': 499, 'Harrington0': 500, 'Torber0': 501, 'Homer0': 502, 'Lindell1': 503, 'Karaic0': 504, 'Daniel0': 505, 'Shutes0': 506, 'Jardin0': 507, 'Horgan0': 508, 'Brocklebank0': 509, 'Herman3': 510, 'Gavey0': 511, 'Yasbeck1': 512, 'Kimball1': 513, 'Hansen0': 514, 'Bowen0': 515, 'Sutton0': 516, 'Kirkland0': 517, 'Longley0': 518, 'Bostandyeff0': 519, "O'Connell0": 520, 'Barkworth0': 521, 'Lundahl0': 522, 'Stahelin-Maeglin0': 523, 'Parr0': 524, 'Davis0': 525, 'Leinonen0': 526, 'Jensen0': 527, 'Sagesser0': 528, 'Foo0': 529, 'Cor0': 530, 'Simonius-Blumer0': 531, 'Willey0': 532, 'Mitkoff0': 533, 'Kalvik0': 534, "O'Leary0": 535, 'Hegarty0': 536, 'Radeff0': 537, 'Eitemiller0': 538, 'Newell2': 539, 'Frauenthal2': 540, 'Badt0': 541, 'Colley0': 542, 'Lindqvist1': 543, 'Butler0': 544, 'Rommetvedt0': 545, 'Cook0': 546, 'Taylor1': 547, 'Brown2': 548, 'Davidson1': 549, 'Mitchell0': 550, 'Wilhelms0': 551, 'Watson0': 552, 'Edvardsson0': 553, 'Sawyer0': 554, 'Turja0': 555, 'Cardeza1': 556, 'Peters0': 557, 'Hassab0': 558, 'Olsvigen0': 559, 'Dakic0': 560, 'Fischer0': 561, 'Madill1': 562, 'Dick1': 563, 'Karun1': 564, 'Lam0': 565, 'Saad0': 566, 'Weir0': 567, 'Chapman0': 568, 'Mullens0': 569, 'Humblen0': 570, 'Astor1': 571, 'Silverthorne0': 572, 'Gallagher0': 573, 'Hansen1': 574, 'Calderhead0': 575, 'Cleaver0': 576, 'Mayne0': 577, 'Klaber0': 578, 'Greenberg0': 579, 'Soholt0': 580, 'Endres0': 581, 'Troutt0': 582, 'McEvoy0': 583, 'Jensen1': 584, 'Gillespie0': 585, 'Hodges0': 586, 'Chambers1': 587, 'Renouf3': 588, 'Mannion0': 589, 'Bryhl1': 590, 'Ilmakangas1': 591, 'Hassan0': 592, 'Knight0': 593, 'Berriman0': 594, 'Troupiansky0': 595, 'Lesurer0': 596, 'Ivanoff0': 597, 'Nankoff0': 598, 'Hawksford0': 599, 'Cavendish1': 600, 'McNamee1': 601, 'Stranden0': 602, 'Sinkkonen0': 603, 'Marvin1': 604, 'Connaghton0': 605, 'Wells2': 606, 'Moor1': 607, 'Vande Velde0': 608, 'Jonkoff0': 609, 'Carlsson0': 610, 'Bailey0': 611, 'Theobald0': 612, 'Rothes0': 613, 'Garfirth0': 614, 'Nirva0': 615, 'Barah0': 616, 'Eklund0': 617, 'Hogeboom1': 618, 'Brewe0': 619, 'Mangan0': 620, 'Gronnestad0': 621, 'Lievens0': 622, 'Mack0': 623, 'Elias0': 624, 'Hocking4': 625, 'Myhrman0': 626, 'Tobin0': 627, 'Emanuel0': 628, 'Kilgannon0': 629, 'Robert1': 630, 'Ayoub0': 631, 'Long0': 632, 'Johnston3': 633, 'Harmer0': 634, 'Sjoblom0': 635, 'Guggenheim0': 636, 'Gaskell0': 637, 'Hoyt0': 638, 'Dantcheff0': 639, 'Otter0': 640, 'Leader0': 641, 'Osman0': 642, 'Ibrahim Shawah0': 643, 'Ponesell0': 644, 'Thomas1': 645, 'Hedman0': 646, 'Andrews0': 647, 'Pettersson0': 648, 'Meyer0': 649, 'Alexander0': 650, 'Lester0': 651, 'Slemen0': 652, 'Tomlin0': 653, 'Fry0': 654, 'Heininen0': 655, 'Mallet2': 656, 'Holm0': 657, 'Hays2': 658, 'Lulic0': 659, 'Reuchlin0': 660, 'McCormack0': 661, 'Stone0': 662, 'Augustsson0': 663, 'Allum0': 664, 'Compton2': 665, 'Pasic0': 666, 'Sirota0': 667, 'Chip0': 668, 'Marechal0': 669, 'Alhomaki0': 670, 'Mudd0': 671, 'Serepeca0': 672, 'Lemberopolous0': 673, 'Culumovic0': 674, 'Abbing0': 675, 'Markoff0': 676, 'Lines1': 677, 'Aks1': 678, 'Razi0': 679, 'Hansen2': 680, 'Giles1': 681, 'Swift0': 682, 'Gill0': 683, 'Bystrom0': 684, 'Duran y More1': 685, 'Roebling0': 686, 'van Melkebeke0': 687, 'Balkic0': 688, 'Vander Cruyssen0': 689, 'Najib0': 690, 'Laleff0': 691, 'Potter1': 692, 'Shelley1': 693, 'Markun0': 694, 'Dahlberg0': 695, 'Banfield0': 696, 'Sutehall0': 697, 'Montvila0': 698, 'Graham0': 699, 'Behr0': 700, 'Dooley0': 701}
     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

     Sex   Age  SibSp  Parch              Ticket      Fare            Cabin  \
0      0  34.5      0      0              330911    7.8292              NaN
1      1  47.0      1      0              363272    7.0000              NaN
2      0  62.0      0      0              240276    9.6875              NaN
3      0  27.0      0      0              315154    8.6625              NaN
4      1  22.0      1      1             3101298   12.2875              NaN
5      0  14.0      0      0                7538    9.2250              NaN
6      1  30.0      0      0              330972    7.6292              NaN
7      0  26.0      1      1              248738   29.0000              NaN
8      1  18.0      0      0                2657    7.2292              NaN
9      0  21.0      2      0           A/4 48871   24.1500              NaN
10     0  28.0      0      0              349220    7.8958              NaN
11     0  46.0      0      0                 694   26.0000              NaN
12     1  23.0      1      0               21228   82.2667              B45
13     0  63.0      1      0               24065   26.0000              NaN
14     1  47.0      1      0         W.E.P. 5734   61.1750              E31
15     1  24.0      1      0       SC/PARIS 2167   27.7208              NaN
16     0  35.0      0      0              233734   12.3500              NaN
17     0  21.0      0      0                2692    7.2250              NaN
18     1  27.0      1      0    STON/O2. 3101270    7.9250              NaN
19     1  45.0      0      0                2696    7.2250              NaN
20     0  55.0      1      0            PC 17603   59.4000              NaN
21     0   9.0      0      1             C 17368    3.1708              NaN
22     1  28.0      0      0            PC 17598   31.6833              NaN
23     0  21.0      0      1            PC 17597   61.3792              NaN
24     1  48.0      1      3            PC 17608  262.3750  B57 B59 B63 B66
25     0  50.0      1      0           A/5. 3337   14.5000              NaN
26     1  22.0      0      1              113509   61.9792              B36
27     0  22.5      0      0                2698    7.2250              NaN
28     0  41.0      0      0              113054   30.5000              A21
29     0  28.0      2      0                2662   21.6792              NaN
..   ...   ...    ...    ...                 ...       ...              ...
388    0  21.0      0      0              364858    7.7500              NaN
389    0   6.0      3      1              349909   21.0750              NaN

/home/utkarsh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/utkarsh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/utkarsh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/utkarsh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)